<!--Basic "About Webpage" section which gives a brief desc of what the site does-->
<%- include("Partials/header") %>

<div class="row">
  <div class="col-lg-8 mx-auto">
    <h1 class="mb-4">About This Website</h1> <!--title for the page-->

    <p class="lead"> <!--main paragraph with a summary of the purpose of the page-->
      Music Collector is a simple web application that allows users to create, view,
      and manage collections of their favourite songs. The site acts as a demonstration of CRUD principles and 
      using cloud databases such as MongoDB.
    </p>

    <hr class="px-4" > <!--horizontal line-->

    </ul>
  </div>
</div>

<%- include("Partials/footer") %>