body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


h2{
  color:honeydew !important;
}

p{
  color:#000 !important;
}

h1{
  text-align: center !important;
  color: black !important;
}

/*This creates the gradient look to the website background*/
body.bg-light{ 
    background: linear-gradient(to bottom, indigo, violet) !important;
}

a {
  color: #00B7FF;
}

hr{
  color: #000 !important;
}


/* Make nav links and their icons white */
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link .bi {
  color: #ffffff;
}