body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



h2{
  color:honeydew !important;
}

h1{
  text-align: center !important;
  color: black !important;
}

body.bg-light{
    background: linear-gradient(to bottom, indigo, violet) !important;
}

a {
  color: #00B7FF;
}


/* Make nav links and their icons white */
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link .bi {
  color: #ffffff;
}